# Test temporary folders
ballistico/tests/tmp-folder

.DS_Store
*.pyc
.idea
examples

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
ballistico/tests/si-amorphous/replicated_atoms.xyz
ballistico/tests/si-amorphous/second.npy
ballistico/tests/si-amorphous/third.npz
ballistico/tests/si-crystal/replicated_atoms.xyz
ballistico/tests/si-crystal/second.npy
ballistico/tests/si-crystal/third.npz
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/_dynmat_derivatives.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/dynmat.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/eigensystem.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/frequencies.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/velocities.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/velocities_AF.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/300.0/quantum/_ps_and_gamma.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/300.0/quantum/_ps_gamma_and_gamma_tensor.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/300.0/quantum/c_v.npy
ballistico/tests/ballistico/tests/tmp-folder/5_5_5/300.0/quantum/occupations.npy
docs/autosummary/ballistico.phonons.Phonons.c_v.rst
docs/autosummary/ballistico.phonons.Phonons.dos.rst
docs/autosummary/ballistico.phonons.Phonons.dynmat.rst
docs/autosummary/ballistico.phonons.Phonons.eigenvalues.rst
docs/autosummary/ballistico.phonons.Phonons.eigenvectors.rst
docs/autosummary/ballistico.phonons.Phonons.frequencies.rst
docs/autosummary/ballistico.phonons.Phonons.gamma.rst
docs/autosummary/ballistico.phonons.Phonons.k_points.rst
docs/autosummary/ballistico.phonons.Phonons.occupations.rst
docs/autosummary/ballistico.phonons.Phonons.ps.rst
docs/autosummary/ballistico.phonons.Phonons.rst
docs/autosummary/ballistico.phonons.Phonons.velocities.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.calculate_second.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.calculate_third.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.gen_supercell.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.gradient.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.max_force.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.optimize.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.replicated_atoms.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.second_order.rst
docs/autosummary/ballistico.finitedifference.FiniteDifference.third_order.rst
