.DS_Store
*.pyc
.idea
/*/
!/forcefields/
!/assets/
!/ballistico/
!/examples/
!/doc/
test.py

CONFIG
CONTROL
Dyn.form
DYNMAT
FIELD
OUTPUT
REFERENCE
THIRD
espresso.pwi
espresso.pwo
log_lammps.out
pwscf.mix1
pwscf.wfc1
pwscf.xml
Si.tersoff
