protobuf==3.20
numpy==1.22.0
scipy==1.4.1
ase==3.19.1
sparse==0.11.2
spglib>=1.11
seekpath>=1.8
tensorflow>=2.0
opt_einsum>=2.3
scikit-learn>=0.22
h5py>=2.9
pandas>=0.21
codecov>=2.1.7
pytest-cov>=2.10.0
pytest>=5.2.1
grpcio>=1.24.3
psutil>=5.7.2
