version: 2.1
orbs:
  python: circleci/python@0.2.1
  codecov: codecov/codecov@1.1.1
jobs:
  build-and-test:
    executor:
        name: python/default
        tag: '3.10'
    docker:
      - image: "gbarbalinardo/kaldo:amd"
    resource_class: xlarge
    steps:
      - checkout
      - run:
          command: python -m pytest -v --cov=kaldo --cov-report=xml --color=yes kaldo/tests/
          name: Test
      - codecov/upload:
          file: ./coverage.xml
  docs-build:
    docker:
      - image: "gbarbalinardo/kaldo_docs:amd"
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          name: Add pandoc
          command: conda install -c conda-forge pandoc
      - run:
          name: Add make
          command: conda install make
      - run:
          name: Add psutil
          command: conda install psutil>=5.7.2
      - run:
          name: Install docs dependencies
          command: pip install -r docs/doc_requirements.txt
      - run:
          name: Build docs
          command: cd docs/ && make html
      - run:
          name: Create .nojekyll
          command: cd docs/_build/html && touch .nojekyll
      - persist_to_workspace:
          root: docs/_build
          paths: html
  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: docs/_build
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "giuseppe.barbalinardo@gmail.com"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "f6:5c:77:81:26:a6:9a:f9:90:50:75:f5:92:13:f2:ae"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Updates" --dist docs/_build/html
workflows:
  main:
    jobs:
      - build-and-test
      - docs-build
      - docs-deploy:
          requires:
            - docs-build
            - build-and-test
          filters:
            branches:
              only: main