numpy>=2.1
scipy
ase>=3.24.0
sparse>=0.11.2
seekpath>=1.8
tensorflow>=2.17
opt_einsum>=2.3
scikit-learn>=1.3.0
h5py>=3.9.0
pandas>=2.0.3
codecov>=2.1.7
pytest-cov>=2.10.0
pytest>=5.2.1
psutil>=5.7.2
hiphive>=1.1

jinja2>=3.1.6
Sphinx>=5.0.1
sphinx_material>=0.0.30
sphinx-sitemap>=0.3.1
sphinxcontrib-jsmath>=1.0.1
recommonmark>=0.6.0
nbsphinx>=0.8
numpydoc>=1.1.0

