jinja2==3.1.4
Sphinx==5.0.1
sphinx_material==0.0.30
sphinx-sitemap==0.3.1
sphinxcontrib-jsmath==1.0.1
recommonmark==0.6.0
nbsphinx==0.8
numpydoc==1.1.0
numpy
scipy
ase
sparse
seekpath
tensorflow
opt_einsum
scikit-learn
h5py
pandas
codecov
pytest-cov
pytest
psutil
hiphive
