jinja2
sphinx>=8.0,<9.0
sphinx_material
sphinx-sitemap
sphinxcontrib-jsmath
recommonmark
nbsphinx
numpydoc
numpy
scipy
ase
sparse
seekpath
tensorflow
opt_einsum
scikit-learn
h5py
pandas
codecov
pytest-cov
pytest
psutil
hiphive
